page-logo-menu {

	.principal{
		background-image: url('../assets/imgs/principal.png') ;
		background-repeat: no-repeat ;
        background-size: cover ;
        background-position: center ;
        width: 100% ;
        position: relative ;
        border: none ;
	}
}
